.loader-bar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 130px;
  margin: calc((100vh - 100px) / 2 - 10px) calc((100vw - 130px) / 2 - 10px);
  align-items: center;
  .bar-block {
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1;
    .bar {
      width: 8px;
      height: 20px;
      border-radius: 0.3em;
      background-color: #45bbfc;
      animation-iteration-count: infinite;
      animation-duration: 0.8s;
      animation-name: spring;
    }
  }
}

.bar1 {
  animation-delay: 0s;
}
.bar2 {
  animation-delay: 0.1s;
}
.bar3 {
  animation-delay: 0.2s;
}
.bar4 {
  animation-delay: 0.3s;
}
.bar5 {
  animation-delay: 0.4s;
}

@keyframes spring {
  0% {transform: scale(1, 1); background-color: #45bbfc;}
  50% {transform: scale(1, 2); background-color: #c541ea;}
  100% {transform: scale(1, 1); background-color: #45bbfc;}
}
