.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  align-items: center;
  &.darken {
    background-color: black;
    opacity: 0.5;
  }
}

input {
  margin: 0;
  border-radius: 10px;
  padding: 10px 15px;
  border-color: #000000;
  width: 100%;
  &:hover {

  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  margin: 0;
  width: 100%;
  border-radius: 10px;
  padding: 10px 15px;
  border-color: #000000;
  &:hover {

  }
}

.rule-block {
  width: 470px;
  max-width: 90%;
  border: 2px solid black;
  margin: 30px 0 10px 0;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  }
}

.rules {
  width: inherit;
  word-wrap: break-word;
}

.input-block {
  max-width: 90%;
  height: 30px;
  margin: 8px 18px 8px 8px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.enter {
  width: 24px;
  height: 16px;
  margin: calc((30px - 24px) / 2) 0 calc((30px - 24px) / 2) -33px;
  cursor: pointer;
  text-align: center;
  padding: 4px 0;
  &:hover {
    margin: calc(((30px - 24px) / 2) - 1px) 0 calc((30px - 24px) / 2) -33px;
  }
}

.currentHighestScore {
  font-size: 10px;
  padding: 2px;
  text-align: center;
}

.playerName {
  cursor: pointer;
  &:hover {
    color: #002bc7;
  }
}

.clearStorage {
  cursor: pointer;
  text-decoration: underline;
  margin: 0 0 0 5px;
  &:hover {
    color: #002bc7;
  }
}

.button-area {
  max-width: calc(25vw);
  height: 30px;
  margin: 8px;
  text-align: center;
}

#Generate {
  border-radius: 10px;
  border-width: 2px;
  background-color: #aed8ff;
  cursor: pointer;
  &:hover {
    background-color: #9ccfff;
  }
}

.notice-block {
  height: 30px;
  padding: 5px;
}

.result-block {
  height: 20px;
  padding: 5px;
}

.record-block {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-height: 340px;
  overflow: auto;
}

.record-block::-webkit-scrollbar { display: none;}

.ul-no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.record-item {
  height: 20px;
  width: 180px;
  padding: 10px 15px;
  margin-top: -1px;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #000000;
  display: grid;
  &:hover {
    background-color: #e3e3e3;
  }
}

.item {
  display: flex;
  flex-direction: row;
}

.record-item-input {
  flex: 1;
  cursor: default;
  margin: auto;
}

.record-item-arrow {
  width: 1px;
  height: 1px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: auto;
  transform: rotate(-45deg);
}

.record-item-result {
  cursor: default;
  width: 90px;
  margin: auto;
}

.notification {
  visibility: hidden;
  height: calc(50px - 16px);
  min-width: 250px;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  border-radius: 25px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: calc(50% - ((250px + (8px * 2)) / 2));
  bottom: 30px;
  font-size: 17px;
  display: flex;
  flex-direction: row;

  &.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

.notification-icon {
  text-align: center;
  margin: 2px;
}

.notification-title {
  padding: 5px;
}

.notification-body {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes popup {
  0% {transform: scale(0);}
  20% {transform: scale(1.1);}
  50% {transform: scale(0.95);}
  80% {transform: scale(1.05);}
  100% {transform: scale(1);}
}

.modal-alert {
  width: 300px;
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
  position: absolute;
  cursor: default;
  top: 40%;
  left: calc(50% - (300px / 2));
}

.alert-block {
  z-index: 999;
  background-color: #f3ebb6;
  display: flex;
  flex-direction: column;
  height: inherit;
  margin: auto;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid black;
  animation: popup 0.5s;
  &.close {
    display: none;
  }
}

.alert-header {
  width: auto;
  height: 15px;
  padding: 2px 5px 12px 5px;
  color: #363636;
  border-bottom: 1px solid #5e5e5e;
  text-align: center;
}

.alert-content {
  width: auto;
  margin: 10px 0 10px 0;
  padding: 5px 18px 5px 18px;
  word-wrap: break-word;
  text-align: center;
}

.alert-footer {
  width: auto;
  height: auto;
  padding: 2px 5px;
  text-align: center;
  margin: 10px 0 0 0;
}

.next-round-btn {
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  &:hover {
    background-color: #dcdcdc;
  }
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}