@mixin flexContainer($width, $height) {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  @include flexContainer(calc(100vw * 0.8), 100%);
  margin: 30px 0;
  padding: 30px;
}

.opening-page {
  @include flexContainer(80%, 100%);
  max-width: 370px;
  padding: 8px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.77);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 255, 187, 0.1), 0 2px 15px rgba(0, 234, 255, 0.3);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 1);

  animation-name: shrink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-animation-name: shrink;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;

  .page-header {
    @include flexContainer(80%, 30px);
    margin: 20px 0 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  .page-content {
    @include flexContainer(80%, 100%);
    margin: 2px 2px;

    .start-local-btn {
      width: 90%;
      height: auto;
      margin: 20px 0 5px 0;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #04364b;
      background-color: #36a4d3;
      text-align: center;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
      &:hover {
        background-color: #87ccea;
      }
    }

    .start-party-btn {
      width: 90%;
      height: auto;
      margin: 10px 0 15px 0;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #053616;
      background-color: #44d271;
      text-align: center;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
      &:hover {
        background-color: #7eeaa1;
      }
    }

    .form {
      width: 100%;
      height: 100%;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 20px 0 0 0;

      .btn-block {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40px;
        margin: 20px 0 2px 0;
        align-items: center;
        .back-btn {
          margin: auto;
          height: auto;
          text-align: center;
          cursor: pointer;
          font-weight: bold;
          color: rgb(148, 148, 148);
          border-radius: 2px;
        }
        .confirm-btn {
          margin: auto;
          height: auto;
          text-align: center;
          cursor: pointer;
          font-weight: bold;
          color: rgb(92, 203, 73);
          border-radius: 2px;
        }
      }
    }
  }
}

.userName {
  width: 100%;
  height: 30px;
  margin: 8px 10px;
  display: flex;
  flex-direction: row;
  .userName-input-label {
    margin: auto;
    padding: 0 15px 0 0;
  }
  .userName-input {
    flex: 1;
  }
}
.roomID {
  width: 100%;
  height: 30px;
  margin: 8px 10px;
  display: flex;
  flex-direction: row;
  .roomID-input-label {
    margin: auto;
    padding: 0 15px 0 0;
  }
  .roomID-input {
    flex: 1;
  }
}

.wording {
  color: #d93838;
  font-size: 10px;
}

.temp-container {
  flex: 1;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  border-radius: 8px;
  &:hover {
    padding: 6px 10px 10px 10px;
  }
}

@-webkit-keyframes shrink {
  0% {box-shadow: 0 4px 30px rgba(0, 255, 187, 0.1), 0 2px 15px rgba(0, 234, 255, 0.3);}
  10% {box-shadow: 0 4px 30px rgba(0, 234, 255, 0.1), 0 2px 15px rgba(0, 51, 255, 0.3);}
  20% {box-shadow: 0 4px 30px rgba(0, 128, 255, 0.1), 0 2px 15px rgba(85, 0, 255, 0.3);}
  30% {box-shadow: 0 4px 30px rgba(0, 4, 255, 0.1), 0 2px 15px rgba(170, 0, 255, 0.3);}
  40% {box-shadow: 0 4px 30px rgba(102, 0, 255, 0.1), 0 2px 15px rgba(255, 0, 221, 0.3);}
  50% {box-shadow: 0 4px 30px rgba(161, 0, 255, 0.1), 0 2px 15px rgba(255, 0, 128, 0.3);}
  60% {box-shadow: 0 4px 30px rgba(102, 0, 255, 0.1), 0 2px 15px rgba(255, 0, 221, 0.3);}
  70% {box-shadow: 0 4px 30px rgba(0, 4, 255, 0.1), 0 2px 15px rgba(170, 0, 255, 0.3);}
  80% {box-shadow: 0 4px 30px rgba(0, 128, 255, 0.1), 0 2px 15px rgba(85, 0, 255, 0.3);}
  90% {box-shadow: 0 4px 30px rgba(0, 234, 255, 0.1), 0 2px 15px rgba(0, 51, 255, 0.3);}
  100% {box-shadow: 0 4px 30px rgba(0, 255, 187, 0.1), 0 2px 15px rgba(0, 234, 255, 0.3);}
}

@keyframes shrink {
  0% {box-shadow: 0 4px 30px rgba(0, 255, 187, 0.1), 0 2px 15px rgba(0, 234, 255, 0.3);}
  10% {box-shadow: 0 4px 30px rgba(0, 234, 255, 0.1), 0 2px 15px rgba(0, 51, 255, 0.3);}
  20% {box-shadow: 0 4px 30px rgba(0, 128, 255, 0.1), 0 2px 15px rgba(85, 0, 255, 0.3);}
  30% {box-shadow: 0 4px 30px rgba(0, 4, 255, 0.1), 0 2px 15px rgba(170, 0, 255, 0.3);}
  40% {box-shadow: 0 4px 30px rgba(102, 0, 255, 0.1), 0 2px 15px rgba(255, 0, 221, 0.3);}
  50% {box-shadow: 0 4px 30px rgba(161, 0, 255, 0.1), 0 2px 15px rgba(255, 0, 128, 0.3);}
  60% {box-shadow: 0 4px 30px rgba(102, 0, 255, 0.1), 0 2px 15px rgba(255, 0, 221, 0.3);}
  70% {box-shadow: 0 4px 30px rgba(0, 4, 255, 0.1), 0 2px 15px rgba(170, 0, 255, 0.3);}
  80% {box-shadow: 0 4px 30px rgba(0, 128, 255, 0.1), 0 2px 15px rgba(85, 0, 255, 0.3);}
  90% {box-shadow: 0 4px 30px rgba(0, 234, 255, 0.1), 0 2px 15px rgba(0, 51, 255, 0.3);}
  100% {box-shadow: 0 4px 30px rgba(0, 255, 187, 0.1), 0 2px 15px rgba(0, 234, 255, 0.3);}
}
