.party {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
}

.info-block {
  text-align: center;
}

.downloader {
  margin: 30px 0 10px 0;
  padding: 8px;
  .download-block {
    display: flex;
    flex-direction: row;
    .file-save {
      cursor: pointer;
      margin: 0 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.uploader {
  display: flex;
  margin: 20px 10px;
  width: 300px;
  height: 200px;
  text-align: center;
  /* From https://css.glass */
  background: rgba(194, 193, 193, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(194, 193, 193, 1);
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  }

  .uploader-text {
    text-align: center;
    margin: auto;
  }
}