body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  &.darken {
    background-color: black;
    opacity: 0.5;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  margin: 0;
  border-radius: 10px;
  padding: 10px 15px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  margin: 0;
  border-radius: 10px;
  padding: 10px 15px;
}

.input-block {
  max-width: calc(25vw);
  height: 30px;
  margin: 8px;
  text-align: center;
}

.button-area {
  max-width: calc(25vw);
  height: 30px;
  margin: 8px;
  text-align: center;
}

#Generate {
  border-radius: 10px;
  border-width: 2px;
  background-color: #aed8ff;
  cursor: pointer;
  &:hover {
    background-color: #9ccfff;
  }
}

.notice-block {
  height: 30px;
  padding: 5px;
}

.result-block {
  height: 20px;
  padding: 5px;
}

.record-block {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-height: 340px;
  overflow: auto;
}

.record-block::-webkit-scrollbar { display: none;}

.ul-no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.record-item {
  height: 20px;
  width: 180px;
  padding: 10px 15px;
  margin-top: -1px;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #000000;
  display: grid;
  &:hover {
    background-color: #e3e3e3;
  }
}

.item {
  display: flex;
  flex-direction: row;
}

.record-item-input {
  flex: 1;
  cursor: default;
  margin: auto;
}

.record-item-arrow {
  width: 1px;
  height: 1px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: auto;
  transform: rotate(-45deg);
}

.record-item-result {
  cursor: default;
  width: 90px;
  margin: auto;
}

.modal-alert {
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  cursor: default;
  top: 40%;
  left: calc(50% - (300px / 2));
}

.alert-block {
  z-index: 999;
  background-color: #f3ebb6;
  display: flex;
  flex-direction: column;
  height: inherit;
  margin: auto;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid black;
  box-shadow: 0 0 15px #000000;
  &.close {
    display: none;
  }
}

.alert-header {
  width: auto;
  height: 15px;
  padding: 2px 5px 5px 5px;
  color: #363636;
  border-bottom: 1px solid #5e5e5e;
  text-align: center;
}

.alert-content {
  width: auto;
  margin: 10px 0 10px 0;
  padding: 5px 18px 5px 18px;
  word-wrap: break-word;
  text-align: center;
}

.alert-footer {
  width: auto;
  height: 20px;
  padding: 2px 5px;
  text-align: center;
}

.next-round-btn {
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  &:hover {
    background-color: #dcdcdc;
  }
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

